.section-clases {
    padding: 2rem;
}

.clase-image-container {
    position: relative;
    margin-bottom: 10px;
}

.clase-image {
    display: block;
    height: auto;
    width: 100%;
}

.layer-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $light-grey;
}

.clase-image-container:hover .layer-top {
    opacity: 1;
}

.layer-text {
  color: $very-dark-grey;
  position: absolute;
  top: 60%;
  -webkit-transform: translate(0%, -65%);
  -ms-transform: translate(0%, -65%);
  transform: translate(0%, -65%);
  text-align: center;
  font-size: 0.8rem;
  padding: 10px;
}



.infoButton {
    font-family: Moontime;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 35px;
    border: 1px solid $very-dark-grey;
    border-radius: 3px;
    margin: auto;
}

@media only screen and (max-width: 414px) {
    .clase-image-container {
        margin-bottom: 45px;
    }

    .layer-top {
        height: 125%;
        top: -25px;
    }

    .layer-text {
        top: 65%;
    }

    .clases-text-responsive {
        margin-top: 0;
    }
}

@media only screen and (min-width: 415px) and (max-width: 960px) {
    .clases-text-responsive {
        margin-top: 0;
    }
}